In [1]:
import pandas as pd
import numpy as np

In [2]:
police = pd.read_csv('data/police_project.csv')
police.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [3]:
police.shape

(91741, 15)

In [5]:
police.isnull().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

## <span style="color: violet;">Filling null values with 0 (below cell)</span>

In [13]:
# police.fillna(0 ,inplace=True)
# police.head()

In [14]:
# police.isnull().sum()

## <span style="color: violet;">Removed the column with null value</span>

In [22]:
police.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,0,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,0,Citation,False,0-15 Min,False
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,0,Citation,False,0-15 Min,False
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,0,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,0,Citation,False,0-15 Min,False

In [24]:
police[police.violation == 'Speeding'].driver_gender.value_counts()

M    32979
F    15482
0        2
Name: driver_gender, dtype: int64

### <span style="color: violet;">Does Gender affect who get serched.</span>

In [25]:
police.groupby('driver_gender').search_conducted.sum()

driver_gender
0       0
F     471
M    2725
Name: search_conducted, dtype: int64

In [28]:
police.search_conducted.value_counts()

False    88545
True      3196
Name: search_conducted, dtype: int64

## <span style="color: violet;">Mean stop_duration</span>

In [40]:
police.stop_duration.value_counts()

Series([], Name: stop_duration, dtype: int64)

In [39]:
police.stop_duration.value_counts()

Series([], Name: stop_duration, dtype: int64)

In [37]:
#police.head(1)
#police['stop_duration'] = 
#police['stop_duration'].map( { '0-15 Min': 7.5, '16-30 Min': 24, '30+ Min': 45} )

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
91736   NaN
91737   NaN
91738   NaN
91739   NaN
91740   NaN
Name: stop_duration, Length: 91741, dtype: float64